@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2 class="text-center">Vittigheder</h2>
</div>

<div class="row">
    <p class="text-center">Søg efter vittigheder på kategori:</p>
</div>

<div class="row vertical-offset">
    <div class="col-md-offset-4 col-md-4">
        <input class="form-center form-control center-block" type="text" id="searchString" name="searchString" onchange="SearchChanged()"/>
    </div>
</div>

<div class="row">
    <p class="text-center">Jokes bliver vist her:</p>
</div>

<div class="row vertical-offset">
    <div class="col-md-offset-4 col-md-4">
        <textarea class="form-center form-control" rows="10" name="jokeBox" id="jokeBox"></textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-5 col-md-2">
        <button class="form-center btn btn-success" name="AddJokeBtn" data-toggle="modal" data-target="#AddJokeModal">Tilføj en joke</button>
    </div>
</div>

<!--Modal window-->
<div id="AddJokeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tilføj en joke</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-3 col-md-8 vertical-offset">
                        <p>Tilføj en joke til databasen her</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Joken</p>
                    </div>
                    <div class="col-md-7 vertical-offset">
                        <input class="form-center form-control center-block" type="text" id="JokeString" name="JokeString"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Kilde</p>
                    </div>
                    <div class="col-md-7 vertical-offset">
                        <input class="form-center form-control center-block" type="text" id="Source" name="Source"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Tags(kommasepareret)</p>
                    </div>
                    <div class="col-md-7 vertical-offset">
                        <input class="form-center form-control center-block" type="text" id="Tag" name="Tag"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-7 vertical-offset">
                        <button class="btn btn-success" onclick="AddJoke()">Tilføj</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-7">
                        <p id="Added"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="RemoveText()">Luk</button>
            </div>
        </div>
        
    </div>
</div>

<script src="../../Content/Scripts/JokeScript.js"></script>